* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
     position: sticky; 
    top: 0;
    background-color: white;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
     padding-bottom: 25px; 
    margin-top: 10px;
}

.box1 {
    width: 50%;
    display: flex;
    /* justify-content: space-around; */
    margin-right: 17%; 
    margin-top: 10px;
}

.img_align{
    height: 40px;
    vertical-align: middle;

}

.box2 {
    width: 40%;
    display: flex;
     justify-content: space-around; 
     margin-top: 10px;
     padding-left: 200px;
}
.box2>a>img{
    height: 50px;
}
.box1>a {
    text-decoration: none;
    vertical-align: top;
    font-family: sans-serif;
    /* padding-top: 15px; */
     margin-top: 20px; 
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-left: 40px;

}
.box1>a:hover{
   text-decoration: underline;
}
.box2>a {
    text-decoration: none;
    vertical-align: top;
    font-family: sans-serif;
    padding-top: 15px; 
    margin-top: 2px;
    font-size: 15px;
    color: black;
    font-weight: bold;

}
.box2>a:hover{
   text-decoration: underline;
}

.nav-bottom {
    display: flex;
    background-color: #202124;
    color: white;
    justify-content: center;
    height: 60px;
    cursor: pointer;
}

.nav-bottom>.para {
    margin-top: 24px;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
}
#btn_property>button:hover{
    background-color: #e21339;
}

#btn-class {
    padding: 12px 42px;
    border-radius: 25px;
    border: 0px;
    background-color: #E4002B;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;

}




















 







































