* {
    font-family: 'Roboto Condensed';
}
#gs_checout
{
    width: 80%;
    margin: auto;
}
#U_body{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#mcart {
    width: 90%;
    height: 100px;
    /* margin-top: -17px;
    margin-left: 50px; */
}

#mcart>h1 {
    font-family: 'Roboto Condensed';
    font-weight: bolder;
    margin-top: 5px;
    font-size: 40px;
}

#body {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

#rd {
    width: 90%;
    height: 80%;
}

#rd1 {
    margin-top: -20px;
    color: #E4002B;
}

#rd2 {
    width: 86%;
    height: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAA0CAYAAAD7VOHJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJbSURBVHgB7d3PcdpAFIDx9wQWks0hdEA6gA6SChJXkHSSdJBJBXYqsFOB6cDuIHQgH0TEX21YxpOxQVrOq/f9TkKr8ze70iLpslo4AQCDEgEAowggALMIIACzCCAAswggALMIIACzCCAAswggALMIIACzCCAAswggALMIIACzEle7XwIAxqjIrfqDqqrGKvXD/nAsANBt8+3OXQ+Hw6fDEjjP83m1XE9F9V4AoKP8ineQXU59/PxvPb6gWpS3mugXAYAucXKfXV5dvz51EsCiKN7lWfooLIcBdMfcz/xU9fn1SW26sizLSb+njwIAHeAkee9v9R2fb9wG49fHtat/CgBEzj/tbYrfy1izl6VwIQAQsbbZn9e6EXo0Gu3XyjoTAIiWztri5wX/CbJfBv8WAIjVmYYFA9jvy0wAIFJu555C48EALhabuQBApLLhNhhAlTP4cDqAWGX5VbBxvA0GgFnBAPqtMAIAkXIu3LBgALOsPxEAiNRmczEOjQcD6JwSQADRqrfyITQeDGCiyScBgFidaVjrE5KqKsYq6R8BgIgNsvVIdfTcNNY+A6wvvgsARG5VDb61jTXOAJn9AeiSpOemaTo82RR9MgP0j4338XsQAOiIeqd3TVtiTgK4qtIb4W3QALplvF6mP45P/g+gr+OqWtzsF8WfBQA6xol8XS3/vpkJHu4BlmUx6ffSO2HmB6D75k7WH/N8NFe+AgfAosOH0XnbCwCreBsMALMIIACzCCAAswggALMIIACzCCAAswggALMIIACzCCAAswggALMIIACzCCAAs/4BsqmdodGkXAsAAAAASUVORK5CYII=);
    background-size: contain;
    padding: 0 8%;
    padding-top: 0px;
    padding-right: 7%;
    padding-bottom: 0px;
    padding-left: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #E4002B;
    font-weight: bold;
}

#rd2>button {
    width: 75px;
    height: 32px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

#rd3 {
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E4002B;
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 5px;
}

#rd4 {
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E4002B;
    font-size: 17px;
    margin-bottom: 25px;
}

hr+button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #E4002B;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#body>div {
    display: flex;
    width: 100%;
    margin: auto;
    height: 100px;
}

#c {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    letter-spacing: 1px;
}

#down {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#left {
    width: 60%;
    height: 1120px;
}

#right {
    width: 36%;
    height: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#l1 {
    width: 100%;
    height: 270px;
    background-color: #F8F7F5;
    border-radius: 2px;
    margin-top: -20px;
}

#l1>h1 {
    width: 110px;
    line-height: 40px;
    font-weight: bolder;
    padding: 45px 0px 0px 40px;
}

#l2 {
    width: 100%;
    height: 220px;
    background-color: #F8F7F5;
    border-radius: 2px;
    margin-top: -9px;
}

#l2>h1 {
    width: 110px;
    line-height: 40px;
    font-weight: bolder;
    padding: 45px 0px 0px 40px;
}

#l3 {
    width: 100%;
    height: 470px;
    border-radius: 2px;
    background-color: #F8F7F5;
    display: flex;
    justify-content: space-between;
}

#signin {
    width: 170px;
    border: 1px solid black;
}

#l3>div>h1 {
    width: 110px;
    line-height: 40px;
    font-weight: bolder;
    padding: 20px 0px 0px 40px;
}

#l3>div>button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid black;
    margin-left: 40px;
    margin-top: 10px;
}

#l4 {
    width: 100%;
    height: 120px;
    border-radius: 2px;
    background-color: #F8F7F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

#l4>h1 {
    width: 110px;
    line-height: 40px;
    font-weight: bolder;
    padding: 0px 0px 0px 40px;
}

#form {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

#form>hr {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 60px;
}

#form>input {
    width: 98%;
    height: 150px;
    background: none;
    font-weight: bold;
    border: transparent;
    padding: 0px 0px 50px;
    font-size: 18px;
    letter-spacing: 1px;
}