#mcart {
    width: 90%;
    height: 80px;
    margin: auto;
    border: 1px solid black;
}

#mcart>h1 {
    font-family: sans-serif;
    margin-top: 15px;
}

#your {
    width: 90%;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #F8F7F5;
}

#faq {
    width: 90%;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

#yleft {
    width: 40%;
    height: 100%;
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    line-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#yleft>button {
    width: 30%;
    padding: 14px;
    border-radius: 50px;
    background-color: #E4002B;
    color: white;
    border: none;

}

#yright {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fleft {
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

#fright {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

hr {
    padding: 1px;
    background-color: #E3E3E3;
    border-radius: 5px;
    border: none;
}

#fleft>div {
    width: 78%;
    border: 1px solid black;
    display: flex;
    align-items: baseline;
    margin: auto;
}

#fleft>div>img {
    width: 8px;
    height: 8px;

}