.ph{
    padding: 2% 1%;
    background: #fff;
    border-radius: 5px 5px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
   
    color: #202124;
    border-bottom: 1px solid #dbdbdb;
    /*  */
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    background: unset;
    display: flex;
    justify-content: space-around;
}
.ph button{
    display: flex;
    background-color: transparent;
    position: absolute;
    right: 2%;
    border: none;
    cursor: pointer;
}
.pm>h2{
text-align: center;
font-family: "National 2 Condensed";
font-style: normal;
font-weight: 700;
font-size: 38px;
letter-spacing: 1px;
text-transform: uppercase;
color: #202124;
}
.pickup1{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;

padding: 10px 40px;
text-align: center;
font-size: large;
color: #202124;
}


.dinein1{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;

padding: 10px 40px;

font-size: x-large;
color: #202124;
}

.delivery1{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;
border: 1.5px solid #202124;
padding: 10px 40px;
border-radius: 50px;
font-size: xx-large;
color: #202124;
}
.delivery1:hover{
cursor: pointer;

}
.ph{
    padding: 2% 1%;
    background: #fff;
    border-radius: 5px 5px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
   
    color: #202124;
    border-bottom: 1px solid #dbdbdb;
    /*  */
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    background: unset;
    display: flex;
    justify-content: space-around;
}
.ph button{
    display: flex;
    background-color: transparent;
    position: absolute;
    right: 2%;
    border: none;
    cursor: pointer;
}
.pm>h2{
text-align: center;
font-family: "National 2 Condensed";
font-style: normal;
font-weight: 700;
font-size: 38px;
letter-spacing: 1px;
text-transform: uppercase;
color: #202124;
}
.pickup{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;
border: 1.5px solid #202124;
padding: 10px 40px;
border-radius: 50px;
font-size: xx-large;
color: #202124;
}
#totalbutton{
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
.pickup:hover{
cursor: pointer;
}
.dinein{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;
border: 1.5px solid #202124;
padding: 10px 40px;
border-radius: 50px;
font-size: xx-large;
color: #202124;
}
.dinein:hover{
cursor: pointer;
}
.delivery{
display: block;
margin:10px auto;
width: 65%;
background-color: transparent;
border: 1.5px solid #202124;
padding: 10px 40px;
border-radius: 50px;
font-size: xx-large;
color: #202124;
}
.delivery:hover{
cursor: pointer;
}
#order-pop{
    width: 100%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%,-50%) scale(0.1); 
   visibility: hidden;
}
#crispy-pop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1); 
    visibility: hidden;
}
#vegzinger-pop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1); 
    visibility: hidden;
}
#chickenzinger-pop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1); 
    visibility: hidden;
}
#offer-pop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1); 
    visibility: hidden;
    transition:transform 0.4s,top 0.4s;
}
.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}