* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "National 2 Condensed"; */
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#nvbar {
    width: 85%;
    margin: auto;
    border: 1px solid red;
    height: 100px;
    position: fixed;
    top: 0;
}

/********** main div *************/
#ap_menu_container {
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 100px;
}

/********* left menu items **********/
#ap_menu_side_bar {
    /* border: 1px solid red; */
    height: 100vh;
    width: 20vw;
    position: sticky;
    top: 100px;
    margin-left: .8%;
    margin-right: 7%;
}

#ap_menu_side_bar>img {
    width: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#ap_menu_side_bar>h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 1px;
    padding-bottom: 1vw;

}

#ap_menu_side_bar>ul>li {
    list-style: none;
    margin-top: 20px;
}

#ap_menu_side_bar>ul>li>a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -.1px;
    color: #494949;
    text-decoration: none
}

#ap_menu_side_bar>ul>li.active a {
    color: #202124;
    font-weight: 700;
    font-size: 20px;
}

/********* right menu data **********/
#ap_menu_append {
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: #494949; */
}

#ap_search {
    border-radius: 34px;
    border: 1px solid #e3e3e3;
    padding-left: 37px;
    margin-top: 60px;
    padding-right: 20px;
    height: 40px;
    width: 20%;
    text-align: left;
    margin-bottom: 3%;
    padding-bottom: 5px;
    outline: none;
    font-family: 15px;
}

#ap_search:focus {
    border: 2px solid #fd7e14;

}

#ap_search:focus::placeholder {
    color: transparent;
}

#ap_menu_search>i {
    position: relative;
    left: 34;
    top: 1;
    font-size: 15px;
}

/************* section **************/
section {
    width: 100%;
    /* height: 100vh; */
    margin-top: 50px;
}

section>h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#Chicken_Buckets {
    background-color: #f8f7f5;
    margin-top: 100px;
}

/* append Data - 1  */
#ap_Chicken_Buckets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    padding: 25px;
}

#ap_Chicken_Buckets>div {
    border: 1px solid transparent;
    /* height: 600px; */
    padding: 10px;
}

#ap_Chicken_Buckets>div>img {
    width: 100%;
    height: 274px;
    border-radius: 5.61px;
    margin-bottom: 17px;
}

#ap_Chicken_Buckets>div>h2,
#ap_New_Launch>div>h2,
#ap_Biryani_Buckets>div>h2,
#ap_Box_Meals>div>h2,
#ap_Burgers>div>h2,
#ap_Stay_Home_Specials>div>h2,
#ap_Snacks>div>h2,
#ap_beverages>div>h2 {
    font-size: 15px;
    font-weight: 700;
}

#ap_Chicken_Buckets>div>p,
#ap_New_Launch>div>p,
#ap_Biryani_Buckets>div>p,
#ap_Box_Meals>div>p,
#ap_Burgers>div>p,
#ap_Stay_Home_Specials>div>p,
#ap_Snacks>div>p,
#ap_beverages>div>p {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -.1px;
    color: #494949;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    height: 70px;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}

.nonVagDiv {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    gap: 5px;
    margin-top: 10px;
}

.nonVagDiv>p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #494949;
}

.nonVagDiv>li {
    background-color: #494949;
    height: 4.5px;
    width: 4.3px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 4px;
    margin-top: 9px;
    margin-bottom: 1px
}

.price {
    width: 34%;
    font-size: 15px;
    display: flex;
    font-weight: 600;
    /* justify-content: space-around; */
    margin-top: 10px;
}

.price>p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-right: .4rem;
}

.addToCart {
    background-color: #e4002b;
    border: 1px solid #e4002b;
    color: #fff;
    width: 184px;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.addToCart>button {
    background-color: #e4002b;
    border: #e4002b;
    color: #fff;
    cursor: pointer;

}

#ap_New_Launch,
#ap_Biryani_Buckets,
#ap_Box_Meals,
#ap_Burgers,
#ap_Stay_Home_Specials,
#ap_Snacks,
#ap_beverages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 30px 10px;
}

#ap_New_Launch>div,
#ap_Biryani_Buckets>div,
#ap_Box_Meals>div,
#ap_Burgers>div,
#ap_Stay_Home_Specials>div,
#ap_Snacks>div,
#ap_beverages>div {
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%);

}

#ap_New_Launch>div>img,
#ap_Biryani_Buckets>div>img,
#ap_Box_Meals>div>img,
#ap_Burgers>div>img,
#ap_Stay_Home_Specials>div>img,
#ap_Snacks>div>img,
#ap_beverages>div>img {
    width: 100%;
    border-radius: 5.61px 5.61px 0px 0px;
    height: 210px;
    margin-bottom: 10px;
}

#ap_New_Launch>div>h2,
#ap_New_Launch>div>p,
#ap_New_Launch .price,
#ap_Biryani_Buckets>div>h2,
#ap_Biryani_Buckets>div>p,
#ap_Biryani_Buckets .price,
#ap_Box_Meals>div>h2,
#ap_Box_Meals>div>p,
#ap_Box_Meals .price,
#ap_Burgers>div>h2,
#ap_Burgers>div>p,
#ap_Burgers .price,
#ap_Stay_Home_Specials>div>h2,
#ap_Stay_Home_Specials>div>p,
#ap_Stay_Home_Specials .price,
#ap_Snacks>div>h2,
#ap_Snacks>div>p,
#ap_Snacks .price,
#ap_beverages>div>h2,
#ap_beverages>div>p,
#ap_beverages .price {
    padding-left: 20px;
}

#ap_New_Launch>div>p,
#ap_Biryani_Buckets>div>p,
#ap_Box_Meals>div>p,
#ap_Burgers>div>p,
#ap_Stay_Home_Specials>div>p,
#ap_Snacks>div>p,
#ap_beverages>div>p {
    font-weight: 400;
    font-size: 14px;
}

.nonVagDiv2 {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    gap: 5px;
    /* justify-content: space-around; */
    margin-top: 10px;
    padding-left: 20px;

}

.nonVagDiv2>p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #494949;
}

.nonVagDiv2>li {
    background-color: #494949;
    height: 4.5px;
    width: 4.3px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 4px;
    margin-top: 9px;
    margin-bottom: 1px
}

.addToCart2 {
    background-color: #e4002b;
    border: 1px solid #e4002b;
    color: #fff;
    width: 184px;
    height: 44px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.addToCart2>button {
    background-color: #e4002b;
    border: #e4002b;
    color: #fff;
    cursor: pointer;

}